<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambia la Password</title>
</head>
<body>
<h1>Cambia la tua Password</h1>
{% if validlink %}
    <form method="post">
        {% csrf_token %}
        <label for="new_password">Nuova Password:</label>
        <input type="password" name="new_password" id="new_password" required><br>
        <label for="confirm_password">Conferma Nuova Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required><br>
        <button type="submit">Aggiorna Password</button>
    </form>
{% else %}
    <p>Il link per cambiare la password non è valido o è scaduto.</p>
{% endif %}
</body>
</html>
